---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.cmPrefix}}-{{.Iteration}}-{{.Replica}}
data:
  {{$data := .}}
  {{range until .cmKeyCount}}
  key{{.}}: {{randAlphaNum $data.cmValueSize}}
  {{end}}
